<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Customer</title>
    <link rel="stylesheet" type="text/css" href="img/style.css" />
</head>
<body>

    <form action="/submitcustomer">
        <p>
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" id="firstName"/>
        </p>
        <p>
            <label for="surname">Surname:</label>
            <input type="text" name="surname" id="surname"/>
        </p>
        <p>
            <label for="birthyear">Year of Birth:</label>
            <input type="text" name="birthyear" id="birthyear"/>
        </p>
        <p th:each="supermarket : ${supermarketList}">
            <label th:for="${supermarketStat.index}" th:text="${supermarket.getName()}"></label>
            <input type="radio" name="supermarketIndex" th:value="${supermarketStat.index}" th:id="${supermarketStat.index}" th:checked="${supermarketStat.index} == 0">
        <p>
            <input type="submit" name="submit" value="Continue and generate cardnumber"/>
        </p>
    </form>
    <a href="/">Back to homepage</a>

</body>
</html>