<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All our customers</title>
    <link rel="stylesheet" type="text/css" href="img/allcustomers.css"/>
</head>
<body>

    <h1>All our customers</h1>
    <div>
        <ol id="customers">
            <li th:each="customer : ${customerList}"><span th:text="${customer.toString()}"></span>
                <ul>
                    <li th:text="'year of birth: ' + ${customer.getYearOfBirth()}"></li>
                    <li th:text="'cardnumber: ' + ${customer.getCardNumber()}"></li>
                    <li>shopping list:</li>
                    <ul>
                        <li th:each="item : ${customer.getShoppingList()}" th:text="${item}"></li>
                    </ul>
                </ul>
            </li>
        </ol>
    </div>
    <a href="/">Back to homepage</a>

</body>
</html>