<!DOCTYPE html>
      <html lang="en" xmlns:th="http://www.thymeleaf.org">
      <head>
      <meta charset="UTF-8">
      <title>New Supermarket</title>
  <link rel="stylesheet" type="text/css" href="img/style.css" />
</head>
<body>

<form action="/submitsupermarket">
  <p>
    <label for="supermarket">Name supermarket:</label>
    <input type="text" name="supermarket" id="supermarket"/>
  </p>
  <p>
    <input type="submit" name="submit" value="Confirm supermarket"/>
  </p>
</form>
<a href="/">Back to homepage</a>

</body>
</html>