<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All supermarkets</title>
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
</head>
<body>

    <h1>Supermarkets (and number of departments):</h1>

    <ul>
        <li th:each="supermarket : ${supermarketList}">
            <a th:href="@{/10_alldepartments(supermarketIndex=${supermarketStat.index})}" th:text="${supermarket.getName()} + ' (' + ${supermarket.getDepartmentList().size()} + ')'"></a>
        </li>
    </ul>

<a href="/">Back to homepage</a>

</body>
</html>