<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Supermarket project</title>
    <link rel="stylesheet" type="text/css" href="img/style.css" />
</head>
<body>

    <div id="titlediv">
        <p id="title">Tizi's Supermarket</p>
    </div>
    <br>
    <br>

    <nav id="nav">
        <ul>
            <li><a href="/1_customer">New customer</a></li>
            <li><a href="/3_staff">New staff member</a></li>
            <li><a href="/5_allstaff">All staff</a></li>
            <li><a href="/6_allcustomers">All customers</a></li>
            <li><a href="/7_supermarket">New supermarket</a></li>
            <li><a href="/8_allsupermarkets">All supermarkets</a></li>
            <li><a href="/9_department">New department</a></li>
        </ul>
    </nav>

</body>
</html>